 doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title= 'Projektipalautus, 5/5.'
        link(href='./css/style.css', rel='stylesheet')
    body
        block content
        script(src='./js/main.js')